
section.Menu{
    margin-top: 20px;
}
.Container{
    width: 90%;
    margin-left: 5%;
}
.Title, .subTitle,.categoryTitle{  
    display: block;
    width: 100%;
    text-align: center;
}
.Title{
    font-size: 30px;
    margin-top: 80px;
    color: rgba(220, 55, 39);
    font-family: 'Lora', serif;
    font-weight: 400;
}
.subTitle{
    font-size: 17px;
    margin-top: 40px;
    font-family: 'Poppins', serif;
}
.categoryTitle{
    font-size: 30px;
    margin-top: 60px;
    color: rgba(220, 55, 39);
    font-family: 'Lora', serif;
    font-weight: 400;
}
.DishesTable{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bar{
    margin: 0 auto;
    margin-top: 50px;
    height: 2px;
    width: 60px;
    background-color: black;
}
@media (max-width:400px)
{
    
}
@media (min-width:480px)
{

}
@media (min-width:768px)
{
    /* komputery juz */
    section.Menu{
        border: 60px solid rgba(220, 55, 39); 
    }
    .Container{
        width: 70%;
        margin-left: 15%;
    }
    .DishesTable{
        flex-direction: row;
    }
    .Title{
        margin-top: 60px;
    }
}
@media (min-width:1024px)
{
    
}
@media (min-width:1200px)
{
    
}