.PurchasedModalBG
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.PurchasedModal
{
    position: fixed;
    height: 70vh;
    width: 60vw;
    top: 10vh;
    left: 20vw;
    background-color: white;
    padding: 10px 15px;
    overflow: hidden;
}