.Input{
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

.Invalid{
    border: 1px solid red;
    background-color: #fda49a;
}
*{
    box-sizing: border-box;
}
@media (min-width:480px)
{

}
@media (min-width:768px)
{
    /* komkutery */
}
@media (min-width:1024px)
{

}
@media (min-width:1200px)
{
}