.OurStory{
    overflow: hidden;
}
.OurStory div{
    margin: 0 auto;
}
.OurStory .image1{
    background-image: url(../../assets/cracowimage.jpg);
    height: 500px;
    width: 100vw;
    margin-top: 50px;
    background-size: cover;
    background-position: -90px 0;
    background-repeat: no-repeat;
}
.image2{
    background-image: url(../../assets/chef.jpg);
    height: 500px;
    width: 100vw;
    position: relative;
    margin: 0;
    left: 0;
    transform: none;
    top: -25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.OurStory .wideBar{
    margin-top: 100px;
    z-index:-1;
    position: relative;
    width: 90vw;
    height: 450px;
    background-color: rgb(220, 55, 39);
    margin-bottom: 80px;
}
.wideBar p{
    position: absolute;
    color: white;
    margin-left: 30%;
}

.quote{
    width: 80%;
    height: 100%;
    position: absolute;
    text-align: center;
    padding: 20px 40px;
    box-sizing: border-box;
    display: block;
}
.quote h2{
    color: white;
    letter-spacing: 3px;
    font-size: 50px;
    z-index: 3;
}
.quote .quoteChef{
    font-family: 'Lora', serif;
    margin-top: 50px;
    margin-left: 0;
    position: relative;
    font-size: 25px;
}
.OurStory h2{
    color: rgb(220, 55, 39);
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    letter-spacing: 2px;
}
.OurStory h3{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 24px;

}
.OurStoryText{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    width: 80%;
    text-align: justify;
}
.OurStory p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.animateScroller{
    margin-top: 20px;
    animation: scrollAni 1.5s linear infinite;
    position: relative;
    opacity: 0;
        top: 72.5%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
        text-align: center;
}
.bar{
    margin-top: 50px;
    height: 2px;
    width: 60px;
    background-color: black;
}
h2.owner{
    margin-top: 100px;
}
@keyframes scrollAni {
    0%   {opacity: 0;top:0;}
    10%  {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;top:20px;}
}

@media (max-width:400px)
{
    .OurStory .image1{
        height: 300px;
    }
    .animateScroller{
        margin-top: 0;
    }
    .image2,.wideBar,.quote{
        display: none;
    }
}
@media (min-width:401px) and (max-width:767px)
{
    .OurStory .image1{
        height: 400px;
    }
    .animateScroller{
        margin-top: 0;
    }
    .OurStory .image2{
        position: absolute;
        left: -25px;
        width: 110vw;
    }
    .OurStory .bar{
        margin-top: 30px;
    }
    .OurStory .wideBar{
        margin-top: 60px;
    }
    .OurStory .quote{
        display: none;
    }
}
@media (min-width:480px) and (max-width:767px)
{

}
@media (min-width:768px)
{
    /* komputery juz */
    .OurStory{
        overflow: visible;
    }
    .OurStory .image1{
        background-image: url(../../assets/cracowimage.jpg);
        height: 600px;
        width: 1000px;
        margin-top: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .image2{
        background-image: url(../../assets/chef.jpg);
        height: 500px;
        width: 750px;
        position: relative;
        top: -25px;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateX(50%);
        display: block;
    }
    .wideBar .quote{
        width: 49%;
        height: 100%;
        position: absolute;
        text-align: center;
        padding: 20px 40px;
        box-sizing: border-box;
        display: block;
    }
    .OurStory .wideBar{
        margin-top: 100px;
        z-index:-1;
        position: relative;
        width: 90vw;
        height: 450px;
        background-color: rgb(220, 55, 39);
        margin-bottom: 80px;
    }
}
@media (min-width:1024px)
{
    
}
@media (min-width:1200px)
{
    
}