.MobileBasket {
  /* border: 1px solid green; */
  width: 100vw;
  box-sizing: border-box;
  padding: 0 20px;
}
.MobileBasket h1 {
  color: rgb(220, 55, 39);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 80px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.MobileBasket p {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.Basket {
  position: fixed;
  top: 75px;
  right: 0;
  height: 100vh;
  border: 1px solid #c0c0c0;
  width: 250px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.2s linear;
  padding: 0 10px;
}
.Basket h1 {
  text-align: center;
}

.bar {
  margin: 0 auto;
  margin-top: 70px;
  height: 2px;
  width: 90%;
  background-color: rgb(220, 55, 39);
  display: none;
}
.endLine {
  margin: 0 auto;
  height: 1px;
  width: 90%;
  background-color: lightgray;
}

.bas {
  margin-left: 50%;
  transform: translateX(-50%);
}
.orderButton {
  background-color: transparent;
  border: solid rgba(220, 55, 39, 1) 1px;
  display: inline-block;
  cursor: pointer;
  color: rgb(220, 55, 39);
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 55px;
  width: calc(100% - 20px);
  text-decoration: none;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  outline: none;
  transition: 0.15s ease-in;
  text-align: center;
}
.MobileBasket .orderButton:focus {
  border: solid rgba(220, 55, 39, 1) 1px;
}
.MobileBasket .orderButton:hover {
  background-color: transparent;
  animation: MobileBasketButton 0.15s linear;
  cursor: pointer;
}
.emptyBasketCopy {
  color: grey;
  text-align: center;
}
.basketTitle {
  margin: 10px 0;
}
@keyframes MobileBasketButton {
  0% {
    background-color: #fff;
    color: rgb(220, 55, 39);
  }
  50% {
    background-color: rgb(220, 55, 39);
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: rgb(220, 55, 39);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* komputery juz */
  .MobileBasket {
    width: 100%;
  }
  .MobileBasket h1 {
    margin-top: 20px;
  }
  .orderButton {
    background-color: rgb(236, 51, 34);
    border-radius: 4px;
    border: 1px solid rgb(189, 46, 33);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 17px;
    width: 98%;
    text-align: center;
    padding: 8px 35px;
    margin-left: 1%;
    text-decoration: none;
  }
  .orderButton:active {
    background-color: rgba(220, 55, 39);
    top: 1px;
  }
  .bas {
    margin-top: 10vh;
  }
  .Basket {
    position: fixed;
    top: 75px;
    width: 250px;
  }
}
@media (min-width: 1024px) {
  /* komputery juz */
  .MobileBasket {
    width: 100%;
  }
  .MobileBasket h1 {
    margin-top: 20px;
  }
  .orderButton {
    background-color: rgb(236, 51, 34);
    border-radius: 4px;
    border: 1px solid rgb(189, 46, 33);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 17px;
    width: 98%;
    text-align: center;
    padding: 8px 35px;
    margin-left: 1%;
    text-decoration: none;
  }
  .orderButton:active {
    background-color: rgba(220, 55, 39);
    top: 1px;
  }
  .bas {
    margin-top: 10vh;
  }
}
@media (min-width: 1330px) {
  .Basket {
    width: 350px;
  }
}
