section.FAQ{
    margin-top: 0px;
}
.Container{
    width: 70%;
    margin-left: 15%;
}
.Title{
    color: rgb(220, 55, 39);
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 2px;
}
.QuestionsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.Question{
    margin-top: 30px;
    flex-basis: 48%; 
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid rgb(220, 55, 39);
    padding: 15px;
    overflow: hidden;
    transition: 0.2s linear;
}
.QuestionTitle{
    text-align:center;
    font-size: 25px;
    font-family: 'Merriweather', serif;
    margin-top: 5px;
    margin-bottom: 20px;
}
.QuestionAnswer{
    font-family: 'Poppins', serif;
    text-align:justify;
}
.FAQ form{
    box-sizing: border-box;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
.FAQ button{
    background-color:transparent;
	border:solid rgba(220, 55, 39, 1) 1px;
	display:inline-block;
	cursor:pointer;
	color: rgb(220, 55, 39);
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:9px 55px;
    text-decoration:none;
    margin-left: calc(50% - 110px);
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    outline:none;
    transition: 0.15s ease-in;
    margin-bottom: 80px;
}
.FAQ button:focus{
	border:solid rgba(220, 55, 39, 1) 1px;
	
}
.FAQ button:hover{
	background-color: rgb(220, 55, 39);
    color: white;
}
textarea{
    height: 100px;
}
