.NavBar{
    position: fixed;
    width:100vw;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    z-index: 5;
    transition: 0.2s linear;
}
.MobileBotBar
{
    position: fixed;
    height: 60px;
    bottom: 0;
    width:100vw;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    z-index: 10;
}
@media (min-width:480px)
{

}
@media (min-width:768px)
{
    .NavBar{
        position: fixed;
        width:100vw;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
        background-color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        z-index: 5;
        transition: 0.2s linear;
    }
}
@media (min-width:1024px)
{

}
@media (min-width:1200px)
{
}