*{
    margin: 0;
    padding:0;
}
:root {
    --topNavHeight: 65px;
}
.NavBar{
    position: fixed;
    top:0;
    width:100vw;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    z-index: 5;
    transition: 0.2s linear;
    height: var(--topNavHeight);
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #b94040;
}
.NavBar *{
    display: inline-block;
}
.MobileBotBar
{
    position: fixed;
    height: var(--topNavHeight);
    top: calc(100vh - var(--topNavHeight));
    width:100vw;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    z-index: 1;
}
.mobileMenu
{
    
    position: fixed;
    height: calc(100vh - var(--topNavHeight));
    width: 80vw;
    background-color: #b94040;
    z-index: 10;
    left: -80vw;
    top: var(--topNavHeight);
    transition: 0.1s linear;
}
.bar{
    margin-left: 10px;
    margin-top: 20px;
    height: 2px;
    width: 70%;
    background-color: black;
}
.mobileMenuBackgroud
{
    
    position: fixed;
    z-index: 2;
    top: var(--topNavHeight);
    left: -100vw;
    height: calc(100vh - var(--topNavHeight));
    width: 100vw;
    background-color: rgba(0, 0, 0);
    opacity: .6;
}
div.mobileMenuActive
{
    left: 0;
}
div.activeBG{
    left: 0;
    animation: change .3s ;
}
@keyframes change
{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: .6;
    }
}
.navIconCont
{
   flex-basis: 20%;
   text-align: center;
}
.navIcon4 {
    position: absolute;
    left: -10px;
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 8px;
    transform: scale(0.65) ;
}
.niewiem{
    flex-basis: 60%;
    text-align: center;
}
.niewiem a{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: rgb(220, 55, 39);
    margin-bottom: 0;
    letter-spacing: 1px;
    position: absolute;
    text-decoration: none;
    transform: translateX(-50%);
}
.navIcon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
.navIcon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navIcon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navIcon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navIcon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.navIcon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navIcon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
.langPicker{
    margin-top: calc(50% - 25px);
    margin-right: -10px;
    color: red;
    font-weight: 500;
    font-size: 25px;
}
@media (min-width:480px)
{

}
@media (min-width:768px)
{
    .NavBar{
        position: fixed;
        width:100vw;
        list-style: none;
        top: 0;
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
        background-color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        z-index: 5;
        transition: 0.2s linear;
        border: none;
    }
}
@media (min-width:1024px)
{

}
@media (min-width:1200px)
{
}