li.mobileNavItem{
    display: inline-block;
    height: 60px;
    text-align: center;
    padding-top:20px;
}
.mobileNavlink {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color: white;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: 0.15s ease-in;
    top: 0;
    position:relative;
    font-size: 17px;
}
.mobileNavlink:hover {
    transition: 0.15s ease-in;
    color: black;
}
