div.AsideIconBar{
    height: 100vh;
    width: 60px;
    background-color: transparent;
    float: left;
    position: fixed;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
}
div.AsideIconBar div{
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}
div.AsideIconBar svg{

    margin-bottom: 15px;
    font-size: 25px;
}