.OrderElement{
    transition: .1s linear;
}
.OrderElement:hover, .OrderElement:active,.OrderElement:focus{
    background-color: lightcoral;
    cursor: pointer;
}
.DishTitle{
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    color: rgba(220, 55, 39);
    
}
.endLine{
        margin: 0 auto;
        margin-top: 10px;
        height: 1px;
        width: 90%;
        background-color: lightgray;
}