section.MainPage {
  height: 100vh;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  background-image: url(../../../assets/bgMain.jpg);
  background-position: top;
  background-size: cover;
}
.main {
  padding: 0;
}
.Left,
.Right {
  width: 50%;
  height: 100%;
  margin-top: 60px;
}
.Left {
  background-color: rgba(255, 255, 255, 0.95);
}
.Right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.Right div {
  flex-basis: 50%;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.leftContent {
  margin-top: 45vh;
  transform: translateY(-50%);
}
.topleft {
  background-image: url(../../../assets/babka.jpg);
  background-position: top;
}
.topright {
  background-image: url(../../../assets/grochowka.webp);
  background-position: top;
}
.botleft {
  background-image: url(../../../assets/zurek.jpg);
  background-position: top;
}

.botright {
  background-image: url(../../../assets/murzynek.jpg);
  background-position: top;
}
.Left h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 90px;
  color: rgb(220, 55, 39);
  margin-bottom: 0;
  letter-spacing: 3px;
}
.Left p {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 300;
}
a.buttonMainPage {
  background-color: transparent;
  border: solid rgba(220, 55, 39, 1) 1px;
  display: inline-block;
  cursor: pointer;
  color: rgb(220, 55, 39);
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 55px;
  text-decoration: none;
  margin-left: calc(50% - 110px);
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: 0.15s ease-in;
}
a.buttonMainPage:hover {
  background-color: rgb(220, 55, 39);
  color: white;
}
a.buttonMainPage:active {
  position: relative;
  top: 1px;
}
@media (min-width: 1200px) {
}
